networks:
  observability:
    driver: bridge

volumes:
  grafana_data:
  loki_data:
  prometheus_data:
  tempo_data:

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./config/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./config/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
    security_opt:
      - "seccomp=unconfined"
    networks:
      - observability
    restart: unless-stopped

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./config/loki-config.yml:/etc/loki/local-config.yaml
      - loki_data:/loki
    command: -config.file=/etc/loki/local-config.yaml -server.http-listen-address=loki
    security_opt:
      - "seccomp=unconfined"
    networks:
      - observability
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.retention.time=15d
      - --storage.tsdb.retention.size=10GB
    env_file:
      - .env
    security_opt:
      - "seccomp=unconfined"
    networks:
      - observability
    restart: unless-stopped
  
  tempo:
    image: grafana/tempo:latest
    container_name: tempo

    command: ["-config.file=/etc/tempo.yml"]
    volumes:
      - ./config/tempo-config.yml:/etc/tempo.yml
      - tempo_data:/tmp/tempo
    ports:
      - "3200:3200"
    networks:
      - observability
    restart: unless-stopped

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    user: "0:0"
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
      - "8889:8889" # Prometheus exporter
    privileged: true
    volumes:
      - ./config/otel-collector.yml:/etc/otelcol-contrib/config.yaml
      - type: bind
        source: /
        target: /hostfs
        read_only: true
        bind:
          propagation: rslave
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    security_opt:
      - "seccomp=unconfined"
    networks:
      - observability
    restart: unless-stopped
    