target: all

multitenancy_enabled: false

server:
  http_listen_port: 9009

common:
  storage:
    backend: s3
    s3:
      endpoint: minio:9000
      access_key_id: minio
      secret_access_key: minio123
      insecure: true

blocks_storage:
  backend: s3
  s3:
    bucket_name: mimir-blocks
  tsdb:
    dir: /data/ingester
  bucket_store:
    sync_dir: /data/tsdb-sync

ruler:
  rule_path: /data/ruler
  alertmanager_url: http://127.0.0.1:8080/alertmanager
  ring:
    kvstore:
      store: memberlist

ruler_storage:
  backend: s3
  s3:
    bucket_name: mimir-ruler

alertmanager:
  data_dir: /data/alertmanager
  fallback_config_file: /etc/mimir-alertmanager.yaml
  external_url: http://localhost:9009/alertmanager

alertmanager_storage:
  backend: s3
  s3:
    bucket_name: mimir-alertmanager

compactor:
  data_dir: /data/compactor
  sharding_ring:
    kvstore:
      store: memberlist

ingester:
  ring:
    kvstore:
      store: memberlist
    replication_factor: 1

store_gateway:
  sharding_ring:
    replication_factor: 1
    kvstore:
      store: memberlist

memberlist:
  abort_if_cluster_join_fails: false
  join_members: [ mimir ]
