extensions:
  docker_observer:
    endpoint: "unix:///var/run/docker.sock"
    api_version: "1.44"

receivers:
  hostmetrics:
    root_path: /hostfs
    collection_interval: 60s
    scrapers:
      cpu:
      disk:
      filesystem:
      load:
      memory:
      network:
      paging:
      processes:
  docker_stats:
    endpoint: unix:///var/run/docker.sock
    collection_interval: 60s
    api_version: "1.44"
  # filelog:
  #   include:
  #     - /var/lib/docker/containers/*/*.log
  #   start_at: end
  #   include_file_path: true
  #   include_file_name: false
  #   # operators:
  #   #   - type: json_parser
  #   #     timestamp:
  #   #       parse_from: time
  #   #       layout: '%Y-%m-%dT%H:%M:%S.%LZ'
  #   #   - type: move
  #   #     from: log
  #   #     to: body
  
  receiver_creator:
    watch_observers: [docker_observer]
    receivers:
      filelog:
        rule: type == "container"
        config:
          include:
            - /var/lib/docker/containers/`container_id`/*.log
          start_at: end
          include_file_path: true
          include_file_name: false
          operators:
            - type: json_parser
              parse_from: body
              parse_to: body
              timestamp:
                parse_from: body.time
                layout: '%Y-%m-%dT%H:%M:%S.%LZ'
            # Move the Docker log content to the body
            - type: move
              from: body.log
              to: body
            # Add container metadata to attributes
            - type: add
              field: attributes["service.name"]
              value: '`name`'
            - type: add
              field: attributes["container.name"]
              value: '`name`'
            - type: add
              field: attributes["container.image.name"]
              value: '`image`'
            - type: add
              field: attributes["container.id"]
              value: '`container_id`'
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  debug:
    verbosity: detailed
  prometheus:
    endpoint: 0.0.0.0:8889
    namespace: otel
    resource_to_telemetry_conversion:
      enabled: true
  
  otlphttp/loki:
    endpoint: "http://loki:3100/otlp"
    tls:
      insecure: true

  otlp/tempo:
    endpoint: "tempo:4317"
    tls:
      insecure: true

  otlphttp/pyroscope:
    endpoint: "http://pyroscope:4040"
    tls:
      insecure: true



processors:
  memory_limiter:
    check_interval: 1s
    limit_mib: 1200
    spike_limit_mib: 256
  batch:
    send_batch_size: 10000
    timeout: 1s
  probabilistic_sampler:
    hash_seed: 22
    sampling_percentage: 10
  filter/debug:
    error_mode: ignore
    logs:
      log_record:
        - 'IsMatch(body, "(?i)debug")'

service:
  extensions: [docker_observer]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, probabilistic_sampler, batch]
      exporters: [otlp/tempo]
    metrics:
      receivers: [otlp, hostmetrics, docker_stats]
      processors: [memory_limiter, batch]
      exporters: [prometheus]
    logs:
      receivers: [otlp, receiver_creator]
      processors: [memory_limiter, batch, filter/debug]
      exporters: [otlphttp/loki]
    profiles:
      receivers: [otlp]
      processors: [memory_limiter]
      exporters: [debug, otlphttp/pyroscope]
